*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --main: rgb(255, 255, 255);
  --text: rgba(0, 0, 0, 0.8);
  --title: rgba(22, 44, 78, 0.39);
  --bg: rgb(29, 65, 105);
  --time: rgb(22, 44, 78);
  --light: rgba(255, 255, 255, 0.8);
  --red: rgb(223, 34, 36);
}

input,
button {
  all: unset;
}

h2 {
  font-weight: 700;
  font-size: 72px;
  line-height: 75px;
  text-transform: uppercase;
  color: var(--title);
  text-align: center;

  @media (max-width: 768px) {
    font-size: 36px;
    line-height: 37px;
  }
}

a {
  text-decoration: none;
  color: var(--main);
  &::after {
    display: inline-block;
    content: "";
    background-image: url("../img/arrow.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: 400px) {
    padding: 0 10px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 28px;
  background-color: var(--bg);
  border-radius: 40px;
  width: 240px;
  margin: 12px auto 0 auto;
}


